
@font-face {
  font-family: 'ticking';
  src:url('./fonts/TickingTimebombBB.ttf');
  font-weight: normal;
  font-style: normal;
}

.clock-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vmin;

  margin: 15vh 0 0 0;
}

.basic-block {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.number {
  font: 12vmin ticking;
  width: 1em;
  padding: 16px 16px 0 16px;
  text-align: center;
}
.identifier {
  font: 3vmin ticking;
  padding: 8px 8px 0 8px;
  text-align: center;
}

.number,
.identifier {
  color: white;
}

.hours .number,
.hours .identifier {
  background-color: blue;
}

.minutes .number,
.minutes .identifier {
  background-color: #32529B;
}

.seconds .number,
.seconds .identifier {
  background-color: #63a437;
}

.meridiem .number,
.meridiem .identifier {
  background-color: red;
}
